{% extends "diet_tracker/base.html" %}

{% block content %}
<div class="main_text">
  {% if form.errors %}
    <p class="error">Your username and password didn't match. Please try again.</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p class="warning"> Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  
  <form method="post"  action="{% url 'login' %}">
    {% csrf_token %}
   
    <h5>{{ form.username.label_tag }}</h5>
    <h5>{{ form.username }}</h5>
     
    <h5>{{ form.password.label_tag }}</h5>
    <h5>{{ form.password }}</h5>
     
    <br>
    <input type="submit" class="btn btn-primary" value="Log in" />
  </form>
  <a href ="/" class="btn btn-info">Go back to Home page </a> <br><br>
  <p><a href="{% url 'password_reset' %}" class="btn btn-warning">Lost password?</a></p>
</div>
{% endblock %}