{% load static %}
<html>
    <head>
        <title>Diet Tracker</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <link rel="stylesheet" href="{% static 'diet_tracker/styles.css' %}">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <div class="jumbotron text-center">
            <a href="{% url 'new_meal' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1 class="black_text" >Diet Tracker</h1>
            <p class="black_text">Website designed to help you easily track and manage your dietary habits</p>
        </div>
    </head>
    <body>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>