
{% extends 'diet_tracker/base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Adding new meal</a>
    <a class= "nav-link"  href="/">Home</a>
    {% if user.is_anonymous %}
    <a class= "nav-link"  href="/accounts/login/">Log in</a>
    {% else %}
    <a class= "nav-link" href="/about">About</a>
    <a class= "nav-link" href="/accounts/logout/">Log out</a>
    {% endif%}
</nav>
    <br>

    <h2>New meal</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <h5>Meal type: </h5>
            {{ form.meal }}<br><br>
        <h5>Calories in this meal: </h5>
        {{ form.calories }}<br><br>
        <h5>Meal description: </h5>
        {{ form.description }}<br><br>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    
{% endblock %}